.img_display img{
    width: 300px;
    height: 300px;
    border: 1px solid #000000;
    border-radius: 50%;
}

.user_details p span{
    color: #464646;
    font-weight: bold;
    line-height: 1.8;
    letter-spacing: 1px;
}