img{
    height: 10%;
}
#tbl_add_to_card input{
    width: 45px;
}
.inlineList {
    display: flex;
    flex-direction: row;
    /* Below sets up your display method, ex: flex-start|flex-end|space-between|space-around */
    justify-content: flex-start; 
    /* Below removes bullets and cleans white-space */
    list-style: none;
    padding: 0;
    /* Bonus: forces no word-wrap */
    white-space: nowrap;
  }
  .fa-times-circle {
   font-size: 22px;
  }