<app-header></app-header>
<app-navbar></app-navbar>
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-3">

            <app-user-right-side-menu></app-user-right-side-menu>
        </div>
        <div class="col-md-9">
            <form [formGroup]="frmChangePassword" (ngSubmit)="changePassword()">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-eye-slash"></i> Change Password
                    </div>
                    <div class="card-body justify-content-center row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <mat-form-field class="registration_id mb-2" [ngStyle]="{'display':'none'}">
                                <mat-label class="ml-1">registration_id</mat-label>
                                <mat-icon matPrefix><i class="fa fa-user"></i></mat-icon>
                                <input type="text" matInput formControlName="registration_id">
                            </mat-form-field>
                            <mat-form-field class="inputstyle mb-2">
                                <mat-label class="ml-1">Old Password</mat-label>
                                <mat-icon matPrefix><i class="fa fa-eye-slash"></i></mat-icon>
                                <input type="password" matInput formControlName="oldPassword">
                                <mat-error
                                *ngIf="frmChangePassword.controls['oldPassword'].invalid && frmChangePassword.controls['oldPassword'].touched">
                                <p *ngIf="f.oldPassword.errors?.OldPasswordMatch">Password Not Match.</p>
                                <p *ngIf="f.oldPassword.errors?.required">Please Enter The Password.</p>
                            </mat-error>
                            </mat-form-field>
                            
                            <mat-form-field class="inputstyle mb-2">
                                <mat-label class="ml-1">New Password</mat-label>
                                <mat-icon matPrefix><i class="fa fa-eye-slash"></i></mat-icon>
                                <input type="password" matInput formControlName="newPassword">
                                <mat-error *ngIf="frmChangePassword.controls['newPassword'].invalid && frmChangePassword.controls['newPassword'].touched">
                                    <p *ngIf="f.newPassword.errors?.required">Please Enter The New Password..</p>
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="inputstyle mb-2">
                                <mat-label class="ml-1">Confirm Password</mat-label>
                                <mat-icon matPrefix><i class="fa fa-eye-slash"></i></mat-icon>
                                <input type="password" matInput formControlName="conformPassword">
                                <mat-error *ngIf="frmChangePassword.controls['conformPassword'].invalid && frmChangePassword.controls['conformPassword'].touched">
                                    <p *ngIf="f.conformPassword.errors?.mustMatch">
                                        Password Must Match.
                                    </p>
                                    <p *ngIf="f.conformPassword.errors?.required">
                                        Please Enter The Confirm Password..
                                    </p>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="card-footer">
                        <button mat-raised-button color="primary" class="rounded-pill pull-right"
                            [disabled]="!frmChangePassword.valid">Change Password</button>
                        <button type="button" class="rounded-pill pull-left" mat-raised-button
                            color="warn">Reset</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>