<div class="footer">
    <div class="container">
      <div class="row footer_grids">
        <div class="col-md-4 footer_grid">
          <h3>Contact</h3>
          <ul class="address">
            <li>
              <i class="fa fa-map-marker"></i>
              Shukrawar Peth, Mali Galli
              <span>Solapur, India</span>
            </li>
            <li>
              <i class="fa fa-envelope"></i>
              <a href="javascript:void(0)">vegetablemarkets@gmail.com</a>
            </li>
            <li>
              <i class="fa fa-phone"></i>+1234 567 890
            </li>
          </ul>
        </div>
        <div class="col-md-3 footer_grid">
          <h3>Information</h3>
          <ul class="info"> 
            <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="javascript:void(0)">Home</a></li>
            <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="javascript:void(0)">About Us</a></li>
            <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="javascript:void(0)">Contact Us</a></li>
            <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="javascript:void(0)">Product</a></li>
          </ul>
        </div>
        <div class="col-md-3 footer_grid">
          <h3>Category</h3>
          <ul class="info"> 
            <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="javascript:void(0)">Vegetables</a></li>
            <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="javascript:void(0)">Friuts</a></li>
            <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="javascript:void(0)">Milk Product</a></li>
            <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="javascript:void(0)">Packaged Foods</a></li>
          </ul>
        </div>
        <div class="col-md-2 footer_grid">
          <h3>Profile</h3>
          <ul class="info"> 
            <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="javascript:void(0)">Store</a></li>
            <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="javascript:void(0)">My Cart</a></li>
            <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="javascript:void(0)">Login</a></li>
            <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="javascript:void(0)">Create Account</a></li>
          </ul>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
