<div class="list-group" id="list-tab" role="tablist">
    <a class="list-group-item list-group-item-action" routerLink="/user/user-info" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">User Info</a>
    <a class="list-group-item list-group-item-action" routerLink="/user/user-info/edit-user-info" routerLinkActive="active">Edit Profile</a>
    <a class="list-group-item list-group-item-action" routerLink="/user/user-info/delivery-address" routerLinkActive="active">Delivery Address</a>
    <a class="list-group-item list-group-item-action" routerLink="/user/user-info/permanent-address" routerLinkActive="active">Permanent Address</a>
    <a class="list-group-item list-group-item-action" routerLink="/user/user-info/change-password" routerLinkActive="active">Change Password</a>
    <a class="list-group-item list-group-item-action" routerLink="/user/user-info/message" routerLinkActive="active">Message</a>
    <a class="list-group-item list-group-item-action" routerLink="/user/user-info/item-list" routerLinkActive="active">Item List</a>
    <a class="list-group-item list-group-item-action" routerLink="/user/user-info/bill-history" routerLinkActive="active">Bill History</a>
</div>
